:root {
  --white: #f2f2f2;
  --black: #333333;
  --green: #6fcf97;
  --red: #eb5757;
  --dark-red: #8d2121;
  --orange: #f2994a;
  --yellow: #f2c94c;
  --purple: #BB6BD9;
  --blue: #56ccf2;
  --dark-blue: #2973d3;
  --very-light-gray: #e0e0e0;
  --light-gray: #BDBDBD;
  --dark-gray: #828282;
  --darken: #00000075;
  --main-column-padding: 10%;
  --transition-speed: 200ms;
  --fast-transition-speed: 100ms;

  font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main {
    margin: 1em 0;
    min-height: 80vh;
}

h1 {
    font-size: 2.5em;
}

a {
    color: var(--blue);
}

ol, ul {
    padding: 0;
    list-style: none;
}

p.small-margin {
    margin-top: .4em;
    margin-bottom: .4em;
}

fieldset {
    border-radius: 10px;
}