/* Style for constructing tables */

.table {
  width: 100%;
  max-width: 1200px;
}

.table img {
  width: 100%;
}

.table .table-row {
  display: grid;
  gap: 15px;
  padding: 0.1em 0.5em;
  align-items: center;
  border-bottom: solid 1px var(--dark-gray);
  margin-bottom: 1em;
}

/* Used by the users view */
.table-row.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

/* Used by the cart view - there are 7 columns, but the first one is sized
   different to accomodate the small image on the table row. */
.table-row.col-7 {
  grid-template-columns: minmax(50px, 100px) repeat(6, 1fr);
}

@media screen and (max-width: 500px) {
  .table .table-row {
    padding-bottom: .5em;
  }

  .table-row.col-7 {
    grid-template-columns: minmax(25px, 50px) repeat(6, 1fr);
  }
}

.table .span-cols-2 {
  grid-column: span 2;
}

.table .table-head {
  margin-bottom: 0.4em;
  padding-bottom: 0.4em;
  font-weight: bold;
  font-size: 1.2em;
}

.table .icons {
  justify-self: end;
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
}

.table i {
  font-weight: bolder;
  cursor: pointer;
}

.table i.red {
  color: var(--red);
}

.table i.black {
  color: var(--black);
}