@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --white: #f2f2f2;
    --black: #333333;
    --green: #6fcf97;
    --red: #eb5757;
    --orange: #f2994a;
    --yellow: #f2c94c;
    --purple: #BB6BD9;
    --blue: #56ccf2;
    --very-light-gray: #e0e0e0;
    --light-gray: #BDBDBD;
    --dark-gray: #828282;
    --darken: #00000075;
    --main-column-padding: 10%;
    --transition-speed: 200ms;
    --fast-transition-speed: 100ms;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

ol, ul {
    padding: 0;
    list-style: none;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black);
    box-sizing: border-box;
}

header nav {
    display: flex;
    flex-flow: row wrap;
    gap: 2em;
}

header nav a {
    text-decoration: none;
    color: var(--white);
    transition: color var(--fast-transition-speed) ease;
}

header nav a:hover {
    color: var(--light-gray);
}

footer {
    width: 100%;
    background-color: var(--black);
    box-sizing: border-box;
    display: grid;
    padding-top: 2em;
    padding-bottom: 2em;
    grid-template-columns: repeat(3, 1fr);
    color: var(--white);
}

footer h3 {
    margin-bottom: 0;
}

footer ul {
    margin-top: 0.5em;
}

footer a {
    color: var(--white);
}

main {
    margin: 1em 0;
}

.main-column {
    padding-left: var(--main-column-padding);
    padding-right: var(--main-column-padding);
}

/* Input */

.material-input {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    border: 2px solid var(--dark-gray);
    transition: border-color var(--transition-speed) ease;
    padding: 0.2em 0.6em;
    border-radius: 50px;
}

.material-input:focus-within {
    border: 2px solid var(--black);
}

.material-input input {
    border: none;
    outline: none;
    width: 15em;
    transition: width var(--transition-speed) ease;
}

.material-input input:focus {
    outline: none;
}

.material-input:focus-within input {
    border: none;
    outline: none;
    width: 25em;
}

.material-input i {
    color: var(--dark-gray);
    transition: color var(--transition-speed) ease;
}

.material-input:focus-within > i {
    color: var(--black);
}

/* Search filter */

.filter-container {
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
}

.filter-list {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
}

/* Chip component */

.chip {
    border-radius: 50px;
    background-color: var(--light-gray);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    overflow: hidden;
    width: fit-content;
}

.chip-text {
    padding: 0.2em 0.6em;
}

.chip-undeletable.chip-delete {
    display: none;
}

.chip-delete {
    background-color: var(--darken);
    font-size: 0.7em;
    width: 2.5em;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chip-delete:hover i {
    color: var(--light-gray);
}

.product-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 1em;
}

/* Product preview in catalog page */

.product {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    width: fit-content;
    overflow: hidden;
    transition: box-shadow var(--fast-transition-speed) ease-in;
    border: 1px var(--very-light-gray) solid;
}

.product:hover {
    box-shadow: 5px 4px 6px var(--very-light-gray);
    cursor: pointer;
}

.product-data h3, .product-data h4, .product-data p {
    margin: 0.3em 0;
}

.product-data {
    padding: 0 1em;
}

.product-data h4 {
    color: var(--dark-gray);
}

/* Carousel in home page */

#home-image {
    background-color: var(--green);
    width: 100%;
    height: 60vh;
    margin-bottom: 1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}

#home-image > fieldset {
    border: none;
}

#home-image > fieldset > input[type = "radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 1em;
    height: 1em;
    padding: 0.1em;
    border: 0.2em solid var(--white);
    background-color: var(--white);
    border-radius: 50%;
}

#home-image > fieldset > input[type="radio"]:checked {
  background-color: var(--dark-gray);
}

#members-list {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 4em;
}

#members-title {
    text-align: center;
    padding: 2em;
}

#members-list li a {
    text-decoration: none;
}

#members-list li a:visited {
    color: var(--black);
}

#members-list li a p {
    text-align: center;
}

